h1{ 
    color:#2DE0CA;
	font-family:Blackoak Std;
	font-size:25px;
	font-style:italic;
	margin-top: 15px;
	margin-left: 160px
}

h3{
	margin-top: 15px;
	margin-left: 160px;
	font-family: Luminari;
	font-size:20px;

}

 