#title {
  color: black;
  background-color:#C63044;
  width: 300px;
  padding: 40px;
  margin: 60px;
}

#trans {
  background-color: #336dff;
  width: 460px;
  padding: 40px;
  margin: 60px;
  margin-left: 300px;
}

#letter {
  background-color: green;
  color: white;
  width: 460px;
  padding: 40px;
  margin: 20px;
  margin-left: 150px;
}

#i{
    color:black;
    margin-left:1000px;
    background-color: #E5622E;
    width: 50px;
    padding: 40px;
    margin: 20px;

}
.circle {
  height: 250px;
  width: 250px;
  background-color: red;
  border-radius: 50%;
  margin-left：800px;
}
body {
  background-color: black;
}
