body {
  background-color: white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #iphone {
    display: block;
  }

  #laptop {
    display: none;
  }

  #tv {
    display: none;
  }

  body {
    background-color: #f4d219;
  }

  .meal {
    width: 80%;
    margin-left: 35px;
  }
  .image {
    margin-top: 10px;
  }
  .online {
    margin-left: 5px;
    margin-top: -30px;
  }
  .hua {
    margin-left: 120px;
    margin-top: -50px;
    position: relative;
    z-index: 4;
  }
  .drink {
    margin-left: 7px;
    margin-top: -30px;
  }
  .order {
    margin-left: 7px;
  }
  .box {
    margin-left: 8px;
    margin-top: 10px;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #laptop {
    display: block;
  }
  #iphone {
    display: none;
  }

  #tv {
    display: none;
  }

  body {
    overflow: hidden;
  }
  body {
    background: linear-gradient(to right, #f4d219 50%, black 50%);
  }

  .headline {
    width: 680px;
    margin-top: 20px;
    margin-left: 15px;
    position: relative;
    z-index: 5;
  }

  .dark {
    width: 680px;
    margin-left: 45px;
    margin-top: 20px;
    animation: fadein 0.2s infinite;
    position: absolute;
    z-index: 5;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #container {
    margin-top: -30px;
  }
  .dragon {
    position: relative;
    margin-left: 320px;
    margin-top: 40px;
    width: 80px;
    z-index: 3;
  }

  .dragon {
    -webkit-animation: rotation 2s infinite linear;
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
    }
  }

  .title {
    font-family: Cochin;
    font-style: italic;
    color: #a0252b;
    margin-left: 30px;
    margin-top: -10px;
    font-size: 37px;
    position: relative;
    z-index: 3;
  }

  #text {
    font-size: 25px;
    font-family: helvetica;
    color: #a0252b;
    width: 660px;
    margin-left: 25px;
    margin-top: 20px;
    position: fixed;
    z-index: 5;
  }

  #textt {
    font-size: 25px;
    font-family: helvetica;
    color: #a0252b;
    margin-left: 25px;
    margin-top: 300px;
  }

  #myAudio {
    margin-left: 990px;
    margin-top: 120px;
    color: #f4d219;
    filter: sepia(80%) saturate(20%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
  }

  .blink {
    animation: fadein 0.2s infinite;
    margin-left: 440px;
    margin-top: -150px;
    position: absolute;
    z-index: 9;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  [data-component="slideshow"] .slide {
    display: none;
    text-align: center;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
  .slide {
    margin-left: 720px;
    margin-top: -500px;
  }
}

@media screen and (min-device-width: 2500px) and (max-device-width: 3500px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #tv {
    display: block;
  }
  #laptop {
    display: none;
  }
  #iphone {
    display: none;
  }

  body {
    background-color: black;
  }
  .glow {
    font-family: Fugaz One;
    font-size: 300pt;
    margin-top: 90px;
    font-style: italic;
    color: #e2000c;
    text-align: center;
    margin-top: 700px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    position: relative;
    z-index: 1;
  }

  /* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }*/
  .chop {
    position: absolute;
    margin-top: -1650px;
    margin-left: 100px;
    width: 1000px;
  }
  .lineup {
    position: absolute;
    z-index: 3;
    margin-top: -1000px;
    margin-left: 50px;
    width: 600px;
  }
  .mat {
    position: absolute;
    z-index: 3;
    margin-top: -620px;
    margin-left: 200px;
    width: 400px;
  }
  .lin {
    position: absolute;
    z-index: 3;
    margin-left: 180px;
    margin-top: -400px;
  }
  .meal {
    position: absolute;
    margin-left: 2700px;
    margin-top: -1600px;
  }
  .list {
    position: absolute;
    z-index: 3;
    margin-left: 2500px;
    margin-top: -800px;
  }
  #myAudio {
    margin-left: 200px;
  }
  .plate {
    margin-left: 300px;
    margin-top: -1600px;
    position: absolute;
    z-index: 2;
  }

  .plate {
    -webkit-animation: rotation 4s infinite linear;
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
    }
  }
  .techno {
    margin-left: 1700px;
    margin-top: -1400px;
    position: absolute;
    z-index: 3;
  }

  .techno {
    -webkit-animation: rotation 4s infinite linear;
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
    }
  }
}
