#box1 {
  background-color: #00ffdd;
  width: 300px;
  padding: 40px;
  margin: 60px;
}
#box2 {
  z-index: 2;
  background-color: #fd5e5e;
  width: 200px;
  padding: 40px;
  margin: 0px;
}

#box3 {
  z-index: 3;
  background-color: #00ffaa;
  width: 200px;
  padding: 40px;
  margin: 0px;
  margin-left: ;
}

#box4 {
  z-index: 5;
  background-color: #00ff97;
  width: 500px;
  padding: 80px;
  margin: 0px;
}

#box5 {
  background-color: #00ffdd;
  width: 300px;
  padding: 40px;
  margin: 60px;
  margin-top: -500px;
  margin-left: 600px;
}
body {
  background-color: teal;
}

@keyframes yy {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100px, 0);
  }
}

#box2 {
  width: 200px;
  height: 200px;
  background-color: rgb(244, 248, 15);
  position: absolute;
  animation: yy 0.5s infinite alternate;
}


@keyframes yx {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

#box1 {
  width: 200px;
  height: 200px;
  background-color: violet;
  position: absolute;
  animation: yx 30s infinite alternate;
}


@keyframes yz {
  0% {
    transform: (0, 0);
  }
  100% {
    transform: translate(300px, 50%);
  }
}

#box4 {
  width: 200px;
  height: 200px;
  background-color: rgb(248, 15, 15);
  position: absolute;
  animation: yz 0.5s infinite alternate;
}


@keyframes yq {
  0% {
    transform: matrix(0, 0);
  }
  100% {
    transform: matrix(1,2,3,4,5,6);
  }
}

#box3 {
  width: 200px;
  height: 200px;
  background-color: rgb(248, 15, 178);
  position: relative;
  animation: yq 0.5s infinite alternate;
}


#box1 {
  width: 200px;
  height: 200px;
  background-color:white;
  transform: rotate(0deg) scale(0.5);
  justify-content:center;
  align-items:center;

}

#box1:hover {
  width: 300px;
  background-color: pink;
  transition: color 5s;
  transition: 5s;
  transition: all ease: in out 10s;;
  transform: rotate(360deg) scale(3);
}

