html,
body {
  width: 100%;
  height: auto;
  background-color: black;
}

#screen,
#screen1,
#screen2,
#screen3,
#screen4,
#screen5,
#screen6,
#screen7,
#screen8,
#screen9,
#screen10,
#screen11,
#screen12,
#screen13,
#screen14,
#screen15,
#screen16 {
  width: 40vw;
  margin-left: 25%;
  overflow: scroll;
  display: flex;
}
